## Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. C++ etc..;

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy
3. sciPy
4. Pandas
5. Matplotlib
6. SciKit-Learn
7. Pyrorch. etc.. ;

|Data science Tools|
|---|
| SAS |
|Apache Hadoop|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [26]:
#this is a common arithmetic example to multiply and then add integers
(3*4)+5

17

In [28]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

__Objective__
* List popular languages for Data Science
* List popular libraries for Data Science
* List of well known Data Science Tools
* How to Provide comments in the cell

## Author
Tadashi Buitron